{% extends "base.html" %}

{% block title %}Добавить задачу{% endblock %}

{% block content %}
<h1>Добавление новой задачи</h1>

<form method="post">
    <label for="title">Название задачи</label>
    <input type="text" id="title" name="title" placeholder="Введите название задачи..." required>
    
    <label for="description">Описание</label>
    <textarea id="description" name="description" placeholder="Введите описание задачи..."></textarea>

    <button type="submit">Добавить задачу</button>
    <a href="{{ url_for('tasks.get_all_tasks') }}">Отмена</a>
</form>
{% endblock %}
